canvas{
height:100%;
width:100%;
background:black;
display:block;
}

body, html{
height:100%;
margin:0px;
}

.record-button{
/*background:white;*/
/*height:10px;
width:10px;*/
font-size:100px;
left:20px;
bottom:10px;
position:absolute;
}

.hover{
  /*font-size:100px;
  left:20px;
  bottom:10px;
  position:absolute;*/
  color:#f1c40f;
}
