canvas {
    display: block;
    height: 100%;
    width: 100%;
    background: black;
}
body, html {
    height: 100%;
    margin: 0px;
}

.email-button {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 100px;
}

.form{
position:absolute;
left:20px;
bottom:10px;
}

/*.color{
background:red;
color:blue;
}*/
